<h1>Hello, your session id is <%= @session || "not set yet" %></h1>

<%= form_with(url: "/1", method: :post) do %>
  <div>
    <%= submit_tag "Set session to 1"%>
  </div>
<% end %>
<%= form_with(url: "/2", method: :post) do %>
  <div>
    <%= submit_tag "Set session to 2"%>
  </div>
<% end %>
<%= form_with(url: "/3", method: :post) do %>
  <div>
    <%= submit_tag "Set session to 3"%>
  </div>
<% end %>
<%= form_with(url: "/delete", method: :post) do %>
  <div>
    <%= submit_tag "Delete session id"%>
  </div>
<% end %>
<h1>Links</h1>
<div>
  <ul>
    <li><a href="http://test1.garretthughes.com/">test 1</a></li>
    <li><a href="http://test2.garretthughes.com/">test 2</a></li>
    <li><a href="http://garretthughes.com/">Top Level</a></li>
  </ul>
</div>

<h1>Cookies sent with request from referer <%= @referer || 'no referer sent' %></h1>
<ul>
<% @cookies.each do |cookie| %>
  <li><%= cookie || 'no domain set' %></li>
<% end %>

</ul>
